* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{    
    width: 15px;
}
::-webkit-scrollbar-track{
    -webkit-boxshadow: inset 0 0 30px rgb(235, 166, 37);
}
::-webkit-scrollbar-thumb{
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(202, 144, 216);
    
}
::-webkit-scrollbar-thumb:hover{ 
    background-color: #70163c;
}

body {
    font-family: 'open sans';
    background-color: rgb(34, 16, 43);
}

h1{
    color: rgb(255, 255, 255);
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}


nav{
    background: url(../imagenes/FONDO.png);
    text-align: center;
    padding: 25px 0px 25px 0px; /* abajo  izquierda  arriba  derecha*/
    position: sticky;
    top: 0px;
    z-index: 100;
}

.card img{
    margin-left: 78px;
    object-fit: cover;
    display: inline-block;
}

.zoom{
    transition: transform .2s; 
} 
.zoom:hover {
    transform: scale(1.7); 
}

@media screen and (max-width:900px){
    .contenedor{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    
    .card:first-child{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card img{
        width: 90px;
        height: 90px;
    }
}